
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
}

h2{
  padding-bottom: 20px;
}

h4{
  margin: 5px;
}

form{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: #fefef0;
}

.form-name-surname,
.form-email-phone{
  display: flex;
}

.radio-gender-btn,
.form-vaccinated,
.form-birthdate{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container{
  color: red;
  font-size: 0.8rem;
  margin: 5px;
}


